.select-wrapper {
  position: relative;
  display:inline-block;
}

.select-wrapper:before {
  content: '\f0d7';
  font-family: FontAwesome;
  font-size: 1em;
  color: #000;
  display: inline-block;
  position: absolute;
  right: 28px;
  top: 10px;
  pointer-events: none;
}

.select-wrapper:after {
  content: '\f0d8';
  font-family: FontAwesome;
  font-size: 1em;
  color: #000;
  display: inline-block;
  position: absolute;
  right: 28px;
  top: 0;
  pointer-events: none;
}

.skill-list {
  width: 33%;
  height: auto;
  display: inline-block;
}
label.object {
  display: inline-block;
  line-height: 1.75em;
}
label.object:first-letter {
  text-transform: uppercase;  
}
.object::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .skill-list {
    width: 100%;
    display: block;
  }
}